@import '../../styles/style.scss';

.kasa-Tag{
  p{
    width: 110px;
    margin: 2rem 0;
    background-color: $primary;
    color: white;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 10px;
  }
}
