@import '../../styles/style.scss';

.kasa-Tag{
  min-width: 130px;
  max-height: 30px;
  margin: 2rem 1em 2rem 0;
  text-align: center;
  @media screen and (max-width: 995px){
    margin: 0 5px;
  }
  @media screen and (max-width: 510px){
    margin: 5px;
  }
  p{
    font-size: 18px;
    background-color: $primary;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    @media screen and (max-width: 510){
      font-size: 12px;
    }
  }
}
