@import '../../styles/style.scss';

.kasa-Tag{
  min-width: 110px;
  max-height: 30px;
  margin: 2rem 1em 2rem 0;
  p{
    font-size: 19px;
    background-color: $primary;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
  }
}
