@import '../../styles/style.scss';
.kasa-home{
  padding: 0px 80px 10px  80px;
  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
  &__banner{
    width: 100%;
    border-radius: 25px;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.5)
        ),
        url(../../assets/banner-img.png);
    background-repeat: no-repeat;

    @media screen and (min-width: 1421px) {
        background-repeat: round;
      } 
  }

  &__container{
      background-color: $secondary;
      border-radius: 25px;
      padding: 29px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: auto;
  }
}



