@import '../../styles/style.scss';
.kasa-home{
  padding: 10px 90px;

  &__banner{
    width: 100%;
    border-radius: 25px;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.5)
        ),
        url(../../assets/banner-img.png);
  }

  &__container{
      background-color: $secondary;
      border-radius: 25px;
      padding: 29px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: auto;

      @media screen and (min-width: 992px) {
        flex-direction: column;
    }
  }
}



