@import '../../styles/style.scss'; 

.kasa-Property__container{
  margin: 10px 80px;
  @media screen and (max-width: 768px) {
    padding: 10px 20px;
  }
}
.kasa-Property{

    &__carousel{
      width: 100%;
      max-height: 24rem;
      margin: 0 auto;
    }

    &__header{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 3rem;
      margin-bottom: 3rem;
      color: $primary;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
      
      &__first, &__second{
        width: 100%;
        min-height: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
      }
      &__first__tag, &__second__notation{
        min-height: 6em;
        align-items: center;
      }
      &__first{
        @media screen and (max-width: 992px){
          flex-direction: column;
          width: 100%;
        }
        &__title{
          min-height: 8em;
          h1{
            font-weight: 500;
            font-size: 35px;
          }
          p{
            font-weight: 500;
            margin: 15px 0 30px 0;
            font-size: 18px;
          }
        }

        &__tag{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          
        }
      }

      &__second{
        @media screen and (max-width: 992px){
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        /* height: 100px; */
        }
        
    
        &__profil{
          min-height: 8em;
          display: flex;
          flex-direction:row;
          align-content: center;
          align-items: flex-start;
          justify-content: flex-end;
          &__author{
            width: 4em;
            margin: 10px 0;
            h3{
              font-size: 23px;
              font-weight: 500;
            }
          }
          &__img{
            width: 84px;
            height: 82px;
            border-radius: 51px;
            background-color: $secondary--darker;
            overflow: hidden;
            img{
              max-width: 100%;
              max-height: 100%;
              display: block;
            }
          }
        }
        &__notation{
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    &__details{
      display: flex;
      margin-bottom: 15px;
      min-height: 30em;
      width: 100%;
      &__section{
        width: 100%;
        margin-bottom: 15px;
      }
  }
}