@import '../../styles/style.scss';

.kasa-Carousel{
  overflow: hidden;
  width: 100%;
  height: 22rem;
  border-radius: 25px;
  position: relative;

  &__content{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-out;
  }

  .left-Arrow, .right-Arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
  .left-Arrow{
    right: 32px;
  }
  .right-Arrow{
    left: 32px;
  }

  /* .numbers_container{
    display: flex;
    justify-content: center;
  } */
  .numbers{
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
  }
}

