@import '../../styles/style.scss';

.kasa-Carousel{
  overflow: hidden;
  width: 100%;
  height: 22rem;
  border-radius: 25px;
  position: relative;

  &__content{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .left-Arrow, .right-Arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    cursor: pointer;
  }
  .arrowStyle{
    font-size: 80px;
    color: white;
    @media screen and (max-width: 510px) {
      font-size: 60px;
    }
    @media screen and (max-width: 380px) {
      font-size: 40px;
    }
  }
  .left-Arrow{
<<<<<<< HEAD
    left: 0px;
  }
  .right-Arrow{
    right: 0px;
=======
    left: 32px;
  }
  .right-Arrow{
    right: 32px;
>>>>>>> bd5c6b4a78ed27bc633750c7ae3771576125f912
  }

  .numbers{
    margin: 18px 3px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    color: white;
  }
}