@import '../../styles/style.scss';
.kasa-accordion {
  margin: 30px 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  margin: 2rem auto;
  padding-bottom: 5rem;
  @media screen and (max-width: 900px) {
    width: 100%;
  } 

  &__container{
    /* background-color: $secondary; */
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30em;
    @media screen and (max-width: 510px){
      flex-direction: column;
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 700px) {
    width: 90%;
  }

  &__item{
    width: 45%;
    @media screen and (max-width: 510px) {
      width: 100%;
    } 
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: $primary;
    font-size: 23px;
    color: white;
    height: 35px;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
  }

  &__content {
    background-color: $secondary;
    border-radius: 5px;
    padding: 25px 10px 14px 10px;
    color: $primary;
    line-height: 34.22px;
    transition: 0.5s;
    font-size: 21px;
    
  }
  .icon{
    color: white;
    height: 2em;
    width: 2em;
  }
}









